<div class="d-flex flex-column align-items-center justify-content-center my-4">

    <div [ngClass]="checkTheStrength('easy')" class="strength border rounded text-center p-2 my-2" data-toggle="tooltip" data-placement="top" title={{this.strengthValues.easy.description}}>{{this.strengthValues.easy.name}}</div>
    <div [ngClass]="checkTheStrength('medium')" class="strength border rounded text-center p-2 my-2" data-toggle="tooltip" data-placement="top" title={{this.strengthValues.medium.description}}>{{this.strengthValues.medium.name}}</div>
    <div [ngClass]="checkTheStrength()" class="strength border rounded text-center p-2 my-2" data-toggle="tooltip" data-placement="top" title={{this.strengthValues.strong.description}}>{{this.strengthValues.strong.name}}</div>
</div>
